# Keycloak
KEYCLOAK_CLIENT_ID=webapp
# KEYCLOAK_CLIENT_SECRET=change_me
KEYCLOAK_ISSUER=http://localhost:8080/realms/ai-dala-realm
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me_to_a_random_string
